body {
  background-color: #808080;
  color: white;
  text-shadow: 2px 2px black;
}

/* Make the boxed for grid */
* {
  box-sizing: border-box;
}

/* Container for columns */
.container {
  display: table;
  width: 100%;
}
/* Create columns in the grid */
.column {
  display: table-cell;
  width: 50%;
}

canvas {
  background-color: gray;
  border: 5px dashed red;
  border-radius: 5px;
}
